<!--<form class="laadimispunkt-form">
  <table class="w-100p">

    <tr>
      <td colspan="2">
        <mat-form-field class="w-100p" appearance="outline">
          <mat-label>Kasutajanimi</mat-label>
          <input id="Kasutajanimi" type="text" placeholder="kasutajanimi" matInput formControlName="kasutajanimi" [(ngModel)]="kasutajanimi"/>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <mat-form-field class="w-100p" appearance="outline">
          <mat-label>Parool</mat-label>
          <input matInput type="password" name="parool" value="" formControlName="reg_aeg" [(ngModel)]="parool"/>
        </mat-form-field>
      </td>
    </tr>

    <button mat-raised-button color="primary" class="new-building-btn" (click)="logiSisse(kasutajanimi, parool)">
      Logi sisse
    </button>

  </table>
</form>-->

<h2>Sisselogimine</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Kasutajanimi</label>
    <input type="text" formControlName="kasutajanimi" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['kasutajanimi'].errors }" />
    <div *ngIf="submitted && f['kasutajanimi'].errors" class="invalid-feedback">
      <div *ngIf="f['kasutajanimi'].errors['required']">Kasutajanimi on kohustuslik</div>
    </div>
  </div>
  <div class="form-group">
    <label>Parool</label>
    <input type="password" formControlName="parool" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['parool'].errors }" />
    <div *ngIf="submitted && f['parool'].errors" class="invalid-feedback">
      <div *ngIf="f['parool'].errors['required']">Parool on kohustuslik</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </div>
</form>
